# env
.env

# IntelliJ
.idea/
*.iml

# Python
__pycache__/
*.pyc

# Node
node_modules/
dist/

# neo4j
neo4j_data/
neo4j_data/**
es_data/
es_data/**

# Spring / Java
build/
target/
out/

# nginx cache
nginx/logs/

# OS
.DS_Store

# 기타
*.log
